.contact-page-container {
    background-image: url('../assets/Contact-bg.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}
@media only screen and (max-width: 991px) {
    .contact-form-container {
        width: 90%;
        margin-bottom: 5%;
    }
}
.form-group {
    padding: 2%;
}

.btn-block {
    width: 100%;
}

/* Consistent input field styling for all input fields, textareas, and PhoneInput */
input.form-control, 
textarea.form-control {
    width: 100%;
    border: 2px solid #1F2042; /* Same border color for all input fields */
    border-radius: 4px;
    padding: 10px;
    box-shadow: none;
}


.btn-submit{
    background: linear-gradient(to bottom right, #1f2042, #4f51a8);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    color: #ffff;
}
.btn-submit:hover{
    color: #ffff;
}


  /* form */
  input[ type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  
  .form-group {
    position: relative;
    /* width: 48%; */
  }
  
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 12px 12px 12px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group textarea {
    height: 100px;
  }
  
  .phone-input-group {
    height: 50%;
  }
  
  .phone-input-group input[type="tel"] {
    height: fit-content;
    width: 100%;
  }
  




  



  