footer {
    background: #C8D4E7;
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

footer a:hover {
    color: #1F2042;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}

/* Social icons */
ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline-block;
    margin: 0 5px;
}

.social-circle li a {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000000;
    line-height: 35px;
}

.social-circle li a:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

/* Facebook */
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

/* LinkedIn */
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

/* Instagram */
.social-network a.icoInstagram:hover {
    background-color: #C13584;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .footer-middle {
        text-align: center;
    }

    .social-network li {
        margin: 10px 0;
    }
}
