/* CSS for Overlapping Sections */
.overlapping-sections {
    position: relative;
    top: -60px; /* Adjust as needed to overlap with the footer */
    margin-bottom: -80px;
  }
  .section-one {
    background: #1F2042;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 40px auto;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  @media (max-width: 768px) {
    .section-one {
      width: 100%;
    }
  }
  .section-one h2{
    font-size: 25px;
    color: #fff;
  }
  .section-two  h3{
    color: #fff;
  }
.section-two {
    background: #1F2042;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: left; */
  }
  
  .section-one {
    position: relative;
    z-index: 2;
  }

  
  .input-container {
    display: flex;
    justify-content: center;
    /* flex: wrap; */
    flex-wrap: wrap;
  }
  
  .input-container input {
    padding: 10px;
    width: 60%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
  }
  @media (max-width: 358px) {
    .input-container input {
      width: 100%;
      border-radius: 4px 4px 4px 4px;
      margin-bottom: 2%;
    }
  }
  .input-container button {
    background: linear-gradient(to bottom right, #1f2042, #4f51a8);
    padding: 10px 20px;
    background-color: #1F2042;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    border-radius: 0 5px 5px 0;
  }
  @media (max-width: 358px) {
    .input-container button {
      border-radius: 5px;
    }
  }
  .input-container2 input {
    padding: 10px;
    width: 60%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
  }
  @media (max-width: 358px) {
    .input-container2 input {
      border-radius: 5px;
      width: 100%;
    }
  }
  .input-container2 button {
    padding: 10px 20px;
    background-color: #1F2042;
    background: linear-gradient(to bottom right, #1f2042, #4f51a8);
    border: 1px solid white;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  @media (max-width: 358px) {
    .input-container2 button {
      border-radius: 5px;
    margin-top: 2%;
    }
  }
  .info-text {
    /* margin-left: 20px; */
    font-size: 14px;
    color: #fff;
  }
  .input-container1{
    /* margin-top: 5%; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    /* flex-wrap: wrap; */
  }
  @media (max-width: 768px) {
    .input-container1{
      flex-wrap: wrap;
    }
  }
  
  .input-container2{
    /* justify-content: center; */
    /* flex: wrap; */
    /* flex-wrap: wrap; */
    width: 100%;
  }
  @media (max-width: 768px) {
    .input-container2{
      justify-content: center;
     text-align: center;
    }
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .section-two {
      /* flex-direction: column;
      text-align: center; */
      width: 100%;
    }
  
    .info-text {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  
